body {
background-color: #76797c;
padding: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    width: 50%;
    background-color: white;
    margin: auto;
    height: auto;
    width: 55%;
    padding: auto;
    max-width: auto;
}
.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    color: whitesmoke;
    height: 30px;
        }
    .container2 {
        text-align: center;
        height: auto;
    }
    .container2 h1 {
        font-size: 55px;
    }
    .container2 p {
        font-size: 20px;
    }
    .container3 {
        height: auto;
        width:80% ;
        margin: auto;
        text-align: left;
        padding: 20px;
    }
    .foot {
        text-align: center;
    }